@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.nav-item .dropdown-menu li a {
    padding: 10px;
}

.nav-item .dropdown-menu li:hover {
    border-left: 4px solid rgb(130, 190, 40);
}

.menubar {
    list-style-type: none;
    padding: 10px;
}

.menubar li {
    padding: 15px 0;
    padding-left: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.menubar li a {
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
}

.menubar li:last-child {
    border: none;
}

.menubar li i {
    padding: 8px;
    border: 1px solid black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* custom styles  */

.bg-main {
    background-color: #F4F4F4;
}

.bg-navy,
.bg-navy:hover {
    background-color: #151331;
    color: white;
}

.bg-lightgreen {
    background-color: #E1E6F1;
}

.bg-whitegreen {
    background-color: #F5F8FE;
}

.bg-blue {
    background-color: rgb(19, 52, 97);
}

.text-navy {
    color: #182F59;
}

.text-green {
    color: #5BBC2E;
}

.bg-green {
    background-color: #5BBC2E;
}

.bg-green {
    background-color: #5BBC2E;
    color: white;
}

.border-gray {
    border-color: rgba(128, 128, 128, 0.5) !important;
}

.fs-14 {
    font-size: 14px;
}

.fw-semi {
    font-weight: 600;
}

.pb-14p {
    padding-bottom: 14px !important;
}

.top-10p {
    top: 10px !important;
}

.start-10p {
    left: 10px !important;
}

.rounded-5 {
    border-radius: 0.75rem !important;
}

.pagination .page-item:not(:last-child) {
    margin-right: 0.5rem !important;
}

.pagination .page-link {
    color: #111125;
    background: transparent;
    border-radius: 5px;
    border-color: gray;
}

.pagination .page-link:hover {
    background: rgb(230, 229, 229);
}

.pagination .page-link:hover {
    color: #111125;
}

.shadow-md {
    box-shadow: 5px 0.5rem 0.25rem rgba(0, 0, 0, .15) !important;
}

.view-btn {
    text-decoration: none;
    color: rgb(130, 190, 40);
}

.view-btn:hover {
    text-decoration: underline;
    color: rgb(100, 156, 15);
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
}

.text-justify {
    text-align: justify;
}

.line-top-blue::before {
    content: '';
    height: 4px;
    display: inline-block;
    background-color: #182F59;
    margin: 10px auto;
    width: 100%;
}


/* dashboard heading  */

.dashboard-heading h1 {
    font-size: 30px;
}


/* reading list  */

.reading-list .row::after {
    content: '';
    height: 1px;
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.493);
    margin: 10px auto;
    width: 98%;
}

.show-next {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        background-color: rgb(107, 219, 141);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        background-color: white;
        opacity: 1;
    }
}


/*----------------------------
    Services page start 
------------------------------*/

.preview-form {
    margin-top: 2rem;
}

.whom-we-serve h6::before,
.process-of-cleaning h6::before {
    content: '\25CF';
    font-size: 20px;
    color: #182F59;
    margin-right: 5px;
}

ul,
ol {
    padding-left: 1rem;
}

ul li,
ol li {
    list-style-position: outside;
}


/*----------------------------
    Services page end
------------------------------*/


/*----------------------------
    Events page start
------------------------------*/

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.event-row {
    padding-right: 3rem;
    padding-left: 3rem;
    position: relative;
}

.event-row .event-order {
    padding: 0.25rem;
    border-radius: 50%;
    background-color: #151331;
    color: white;
    position: absolute;
    left: 10px;
    top: 10px;
}

.event-row>span {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-row h5 {
    font-weight: bold;
    width: 80%;
}

.sorting .dropdown-toggle {
    border: none;
    position: relative;
    top: -2px;
    padding: 0;
    background: transparent;
}

.event-row .status {
    right: 0;
    top: 0;
    position: absolute;
    font-weight: 600;
    color: #182F59;
}

.slide-right {
    animation: slideRight 1s forwards;
    position: relative;
}

@keyframes slideRight {
    0% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

.slide-left {
    animation: slideLeft 1s backwards;
    position: relative;
}

@keyframes slideLeft {
    0% {
        right: -100%;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}


/*----------------------------
    Events page end
------------------------------*/


/*----------------------------
    Notification page start
------------------------------*/

.notifications-container .notification {
    padding-left: 1rem;
    background-color: #E1E6F1;
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.notifications-container .notification .icon {
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-bg-green {
    background-color: #5bbc2e87;
    color: #3c3c3c;
}

.icon-bg-gray {
    background-color: #6c796787;
    color: #3c3c3c;
}

.icon-bg-blue {
    background-color: #22529e7a;
    color: #3e307a;
}

.notification .col-1 button {
    display: block;
}

.prev-heading {
    overflow: hidden;
    text-align: center;
}

.prev-heading:before,
.prev-heading:after {
    background-color: rgb(168, 168, 168);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.prev-heading:before {
    right: 0.5em;
    margin-left: -50%;
}

.prev-heading:after {
    left: 0.5em;
    margin-right: -50%;
}


/*----------------------------
    Notification page end
------------------------------*/


/*----------------------------
    Settings page start
------------------------------*/

.profile-info-input input {
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    display: block;
    margin-bottom: 5px;
}

.profile-info input::placeholder {
    color: gray;
    text-align: right;
    font-family: 'Helvetica', FontAwesome, sans-serif;
}

.profile-info input:focus {
    outline: none;
}

.profile-banner>div {
    background-color: #111125;
}

.profile-img {
    position: relative;
    max-width: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img .img-edit {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
}

.profile-img .img-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: #b8dac4;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.profile-img .img-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.profile-img .img-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    padding: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.profile-img .img-preview {
    width: 130px;
    height: 130px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.profile-img .img-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fa-camera {
    background-color: #22529e7a;
    color: gray;
    position: absolute;
    border-radius: 50%;
    padding: 30px;
    left: 4px;
    top: 4px;
    font-size: 50px;
}

.profile-info table tr {
    position: relative;
}

.info-value input {
    background: transparent;
    border: none;
}

.input-as-text input {
    border-bottom: 1px solid gray;
}

.input-as-text::after {
    content: '\f303';
    font-family: 'FontAwesome';
    position: absolute;
    right: 5px;
}

.form-check input,
.form-check label {
    font-size: 16px;
    font-weight: 600;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}


/*----------------------------
    Settings page end
------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
.subscription-container {
    font-family: 'Merriweather', serif;
}

.package-details {
    font-family: 'Roboto', sans-serif;
}

.package-details table tr td {
    text-align: left;
    font-size: 15px;
}

.package-details table tr td:nth-child(2) {
    padding-left: 35px;
    font-weight: bold;
    font-size: 20px;
}

.package-details .bg-lightgreen {
    background-color: rgb(242, 243, 247);
}

.package-details .info-btn {
    border-radius: .3rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: white;
    padding: 0.5rem 0.8rem;
    margin: 0 auto;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.package-details .fa-tag {
    transform: rotate(90deg);
}

.accordion-item,
.accordion-button {
    background: transparent;
    border: none;
    font-size: 1rem;
}

.accordion-item::after {
    content: '';
    height: 1px;
    display: block;
    background-color: #5BBC2E;
    margin: 10px auto;
    width: 95%;
}

.accordion-button .text {
    font-size: 20px;
}

.accordion-body {
    font-size: 18px;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    content: '\f067';
    border: 3px solid #182F59;
    color: #182F59;
    font-family: fontAwesome;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 10px;
}

.accordion-button:not(.collapsed)::after {
    content: '\f068';
}

.faq a {
    text-decoration: none;
}

.subscription-container .modal-body {
    padding: 10rem 6rem;
}


/* footer  */

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: rgb(211, 209, 209);
    transition: color 0.5s linear;
}

footer img {
    width: 40px;
    height: 40px;
}


/* responsiveness */

@media (min-width: 992px) {
    .col-w-45 {
        width: 45% !important;
    }
    .w-20 {
        width: 18%;
    }
    .w-80 {
        width: 82%;
    }
}

@media (min-width: 768px) {
    .col-w-45 {
        width: 48% !important;
    }
}

@media (min-width: 550px) {
    .top-sm-0 {
        top: 0 !important;
    }
    .preview-form {
        margin-top: 0;
    }
    .profile-info table td {
        padding: 5px 15px;
    }
}

@media (max-width: 500px) {
    .event-row {
        padding-right: 0;
        padding-left: 2.5rem;
    }
    .event-row .status {
        right: -10px;
        top: -15px;
    }
    .event-row .event-order {
        left: 0;
    }
}
